* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 150px 0 150px 0;
  background-image: url(top.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 100px;
  letter-spacing: 5px;
}

.top-wrapper h2 {
  font-size: 50px;
}

.top-wrapper span {
  color: #8b0000;
}

header {
  height: 65px;
  width: 100%;
  background-color: #8b0000;
  position :fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-weight: bold;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.header-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: 35px;
  font-weight: bold;
}

.header-left a:hover {
  background-color: rgba(255,255,255,0.3);
}

.about-wrapper{
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f8;
  text-align: center;
}

.about-heading{
  padding-top: 65px;
  padding-bottom: 0px;
  color: #5f5d60;
}

.about-heading h2 {
  font-size: 40px;
  font-weight: bold;
}

.about-heading :after{
  display: block;
  height: 1px;
  content: "";
  background: linear-gradient(90deg,rgba(168,8,8,.7) 0,rgba(245,136,32,.7));
}

.profile h3{
  font-weight: bold;
  color: #5f5d60;
}

.skill-wrapper {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.skill-heading {
  padding-top: 65px;
  padding-bottom: 0px;
  color: #5f5d60;
}

.skill-heading h2 {
  font-size: 40px;
  font-weight: bold;
}

.skill-heading :after{
  display: block;
  height: 1px;
  content: "";
  background: linear-gradient(90deg,rgba(168,8,8,.7) 0,rgba(245,136,32,.7));
}

.skill {
  float: left;
  width: 25%;
}

.skill-icon {
  position: relative;
}

.text-contents{
  padding:0 5px;
}

.works-wrapper {
  height: 1000px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.works-heading {
  padding-top: 65px;
  padding-bottom: 0px;
  color: #5f5d60;
}

.works-heading h2 {
  font-size: 40px;
  font-weight: bold;
}

.works-heading :after{
  display: block;
  height: 1px;
  content: "";
  background: linear-gradient(90deg,rgba(168,8,8,.7) 0,rgba(245,136,32,.7));
}

.works{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.work-box{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    width: 40%;
    vertical-align: top;
    margin: 0 20px 40px 0;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
}

.work-box h2 {
    font-weight: bold;
    padding: 10px 10px;
    display: inline-block;
    margin-bottom: 0px;
    color: #800000;
}

.work-text{
    word-break: break-all;
    padding: 0 10px;
    color: #333333;
}

.contact-wrapper{
  height: 350px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.contact-heading{
  padding-top: 65px;
  padding-bottom: 0px;
  color: #5f5d60;
}

.contact-heading h2 {
  font-size: 40px;
  font-weight: bold;
}

.contact-heading :after{
  display: block;
  height: 1px;
  content: "";
  background: linear-gradient(90deg,rgba(168,8,8,.7) 0,rgba(245,136,32,.7));
}

.mail h3{
  font-weight: bold;
  color: #5f5d60;
}


.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .skill {
    width: 50%;
    margin-bottom: 50px;
  }

  .skill-wrapper {
    height: 990px;
  }

}
